$black: black;
$grey: rgb(219, 219, 219);
$white: white;
$h-f: rgb(39, 39, 39);

body {

    background-color: $grey;
}

header,
footer {

    background-color: $h-f;
    color: $white;
    height: 70px;
    width: 100vw;
    position: fixed;
    left: 0;
    padding: 10px 442px; 
}

header {

    top: 0;

    & .header-wrapper {

        padding: 10px 0;
        margin: 0 auto;
    }

    & h1{

        float: left;
        margin-top: 12px;
        margin-top: 6px;
        margin-right: 120px;
    }

    & h3 {

        float: right;
    }
}

footer {

    bottom: 0;
}

.content {

    margin: 0 auto;
    width: 54vw;
    margin-top: 145px;
}

#ship {

    width: 10px;
    height: 10px;
    background-color: $black;
    position: absolute;
    bottom: 0;
}

.bullet {

    width: 4px;
    height: 4px;
    background-color: $black;
    display: none;
    position: absolute;
    bottom: 5;
}

.game-container {

    width: 1010px;
    height: 515px;
    position: relative;
    border: 1px solid $black;
    background: $white;
}

.enemy-1,
.enemy-2,
.enemy-3 {

    width: 10px;
    height: 10px;
    background-color: $black;
    position: absolute;
    display: none;
    
}

.columns {

    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: 1fr;
    width: 1010px;

    & p {

        width: 50px;
    }
}

.enemy-1-explode,
.enemy-2-explode,
.enemy-3-explode {

    display: none;
    position: absolute;
}
